<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href="http://fonts.useso.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="/css/backstyles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <%- include('layout/back_header.html') %>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="mdl-cell mdl-cell--12-col">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric w1">标题</th>
                  <th class="w2">时间</th>
                  <th class="w3">阅读量</th>
                  <th class="w4">操作</th>
                </tr>
              </thead>
              <tbody>
                <% articles.forEach(function(article){ %>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric"><%= article.title %></td>
                    <td><%= article.formatTime %></td>
                    <td><%= article.views %></td>
                    <td>
                      <a href="/ht/<%= article._id %>?optcode=1"><i class="material-icons">visibility</i> 预览</a>
                      <a href="/ht/<%= article._id %>?optcode=2"><i class="material-icons">mode_edit</i> 编辑</a>
                      <a href="/ht/<%= article._id %>?optcode=3" class="delete"><i class="material-icons">clear</i> 删除</a>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
            <p><%=total%></p>
          </div>
        </div>
      </main>
    </div>
    <script src="/js/material.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script>
    $(function(){
      $('a.delete').on('click', function(){
        var url = $(this).attr('href');
        $.ajax({
          url: url,
          method: 'GET',
          dataType: 'json',
          success: function(data){
            if(data.status == 1){
              alert(data.msg);
              location.reload();
            }else{
              alert('删除失败，Error: ' + data.msg);
            }
          }
        });
        return false;
      });
    })
    </script>
  </body>
</html>
