<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>博客后台管理系统 - 虐猫狂人薛定谔</title>
  <link rel="shortcut icon" href="/favicon.png">
  <link href="http://fonts.css.network/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/material.min.css">
  <link rel="stylesheet" href="/css/backstyles.css">
</head>
<body>
  <div class="mdl-grid">
    <div class="login-box">
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">后台管理系统</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <form action="/ht" id="loginForm">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" name="username" id="username">
              <label class="mdl-textfield__label" for="username">用户名</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" name="pwd" id="pwd">
              <label class="mdl-textfield__label" for="pwd">密码</label>
            </div>
            <div>
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submitbtn">登录</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<script src="/js/material.min.js"></script>
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script>
  $(function(){
    $('#loginForm').on('submit', function(){
      var username = $('#username').val();
      var pwd = $('#pwd').val();
      if($.trim(username) == ''){
        alert('用户名不能为空');
        return false;
      }
      if($.trim(pwd) == ''){
        alert('密码不能为空');
        return false;
      }
      var data = $(this).serialize();
      $.ajax({
        url: '/ht',
        method: 'POST',
        data: data,
        dataType: 'json',
        success: function(data){
          if(data.status === 1){
            location.href="/ht/index";
          }else{
            alert(data.msg);
          }
        },
        error: function(){
          console.log('系统错误，请稍后重试');
        }
      });
      return false;
    });
  });
</script>
</body>
</html>