<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客后台管理系统 - 虐猫狂人薛定谔</title>

    <link rel="shortcut icon" href="/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href="http://fonts.css.network/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="/css/backstyles.css">
    <!-- markdown -->
    <link rel="stylesheet" href="/css/editor.css" />
    <script type="text/javascript" src="/js/editor.js"></script>
    <script type="text/javascript" src="/js/marked.js"></script>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <%- include('layout/back_header.html') %>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <form id="newform">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="title">
                <label class="mdl-textfield__label" for="title">标题</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="tags">
                <label class="mdl-textfield__label" for="tags">标签(使用空格“ ”分隔)</label>
              </div>
              <div class="content-form">
                <label for="content">内容(使用 &lt!-- more --&gt 标记简介)</label>
                <textarea type="text" rows= "3" id="content" ></textarea>
              </div>
              <p id="result" class="mdl-color-text--grey"></p>
              <div>
                <button type="submit" id="submitbtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">完成</button>
              </div>
            </form>
            <form id="virtualForm" enctype="multipart/form-data"></form>
          </div>
        </div>
      </main>
    </div>
    <script src="/js/material.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script>
      var editor = new Editor();
      editor.render();

      $(function(){
        $('#newform').on('submit', function(){
          $('#submitbtn').prop('disabled', true);
          var _this = this;

          var title = $('#title').val();
          var tags = $('#tags').val().split(' ');
          var content = escape(editor.codemirror.getValue());

          if($.trim(title) == ''){
            alert('标题不能为空');
            return false;
          }
          if(tags.length == 0){
            alert('标签不能为空');
            return false;
          }
          if($.trim(content) == ''){
            alert('内容不能为空');
            return false;
          }

          var data = {
            title: title,
            tags: tags,
            content: content
          }
          $.ajax({
            url: '/ht/addarticle',
            method: 'POST',
            data: data,
            dataType: 'json',
            success: function(data){
              $('#submitbtn').prop('disabled', false);

              if(data.status == 1){
                _this.reset();
                editor.codemirror.setValue('');
                $('#result').text(data.msg);
              }
            }
          });

          return false;
        });
      });
    </script>
  </body>
</html>
