<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人博客</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href="http://fonts.useso.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
    #gotop {
      position: fixed;
      display: block;
      right: 0;
      bottom: 50px;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
      <%- include('layout/header.html') %>
      <main class="mdl-layout__content">
        <div class="demo-blog__posts mdl-grid">
          <!-- left -->
          <div class="mdl-cell mdl-cell--9-col">
            <!-- 文章 -->
            <% articles.forEach(function(article){ %>
              <div class="mdl-card amazing mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                <div class="mdl-card__title mdl-color-text--grey-50">
                  <h3 class="quote"><a href="/p/<%= article._id %>"><%= article.title %></a></h3>
                </div>
                <div class="jianjie mdl-card__supporting-text mdl-color-text--grey-600">
                  <%- article.content %>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a href="/p/<%= article._id %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">阅读更多</a>
                  <div class="mdl-layout-spacer"></div>
                  <span class="date"><%= article.formatTime %></span>
                </div>
              </div>
            <% }) %>
            <!-- 分页 -->
            <% if(countPage != 1){ %>
              <nav class="demo-nav mdl-cell mdl-cell--12-col">
                <% if(page > 1){ %>
                <a href="?page=<%= page-1 %>" class="demo-nav__button" title="上一页">
                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_back</i>
                  </button>
                  Prev
                </a>
                <% } %>
                <div class="section-spacer"></div>
                <% if(page < countPage){ %>
                <a href="?page=<%= page+1 %>" class="demo-nav__button" title="下一页">
                  Next
                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_forward</i>
                  </button>
                </a>
                <% } %>
              </nav>
            <% } %>
          </div>
          <!-- right -->
          <aside class="sidebar mdl-cell mdl-cell--3-col">
            <div class="side-card mdl-shadow--2dp">
              <h4>标签</h4>
              <div class="text" id="tags">
                
              </div>
            </div>
            <div class="side-card mdl-shadow--2dp">
              <h4>友情链接</h4>
              <div class="text" id="yqlink">
                
              </div>
            </div>
          </aside>
        </div>
        <%- include('layout/footer.html') %>
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <a href="javascript:;" id="gotop" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">&#xE316;</i></a>
    <script src="/js/material.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  </body>
  <script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
      var link = el.querySelector('a');
      if(!link) {
        return;
      }
      var target = link.getAttribute('href');
      if(!target) {
        return;
      }
      el.addEventListener('click', function() {
        location.href = target;
      });
    });
  </script>
  <script>
  $(function(){
    if(sessionStorage.tags){
      setTags(JSON.parse(sessionStorage.tags));
    }else{
      $.ajax({
        url: '/tags',
        method: 'GET',
        dataType: 'json',
        success: function(data){
          sessionStorage.tags = JSON.stringify(data.tags);
          setTags(data.tags);
        },
        error: function(){
          console.log('获取标签，系统错误');
        }
      });
    }

    $.ajax({
      url: '/yqlink',
      method: 'GET',
      dataType: 'json',
      success: function(data){
        console.log(data);
        setLink(data);
      }
    });

    //返回顶部
    $('#gotop').on('click', function(){
      $('html,body').animate({scrollTop: 0});
    });

    function setLink(links){
      var allLinks = document.createDocumentFragment();
      $.each(links, function(index, obj){
        var newA = $('<a target="_blank" class="mdl-button mdl-js-button mdl-js-ripple-effect" href="'+ obj.url +'">'+ obj.name +'</a>')[0];
        allLinks.appendChild(newA);
      });
      document.getElementById('yqlink').appendChild(allLinks);
    }
    function setTags(tags){
      var allTags = document.createDocumentFragment();
      $.each(tags, function(index, value){
        var randomColor = 'hsl('+ Math.round(255 * Math.random()) +', 46%, 42%)';
        var newA = $('<a href="javascript:;" class="tag">'+ value +'</a>')[0];
        newA.style.backgroundColor = randomColor;
        allTags.appendChild(newA);
      });
      document.getElementById('tags').appendChild(allTags);
    }
  });
  </script>
</html>
