<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div>© 2015 <a href="http://huydev.com">虐猫狂人薛定谔</a></div>
    <div>Theme from <a href="http://www.getmdl.io/" target="_blank">Material Design Lite</a></div>
  </div>
  <div class="mdl-mini-footer__right-section">
    <a href="https://github.com/huydev" target="_blank"><button id="github_btn" class="mdl-mini-footer--social-btn social-btn social-btn__github">
      <span class="visuallyhidden">github</span>
    </button></a>
    <div class="mdl-tooltip" for="github_btn">GitHub</div>
    <a href="https://plus.google.com/u/0/112934235407508605846" target="_blank"><button id="gplus_btn" class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
      <span class="visuallyhidden">Google Plus</span>
    </button></a>
    <div class="mdl-tooltip" for="gplus_btn">G+</div>
  </div>
</footer>