<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div>© 2015 <a href="">虐猫狂人薛定谔</a></div>
    <div>Theme from <a href="http://www.getmdl.io/" target="_blank">Material Design Lite</a></div>
  </div>
  <div class="mdl-mini-footer__right-section">
    <button id="github_btn" class="mdl-mini-footer--social-btn social-btn social-btn__github">
      <span class="visuallyhidden">github</span>
    </button>
    <div class="mdl-tooltip" for="github_btn">GitHub</div>
    <button id="gplus_btn" class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
      <span class="visuallyhidden">Google Plus</span>
    </button>
    <div class="mdl-tooltip" for="gplus_btn">G+</div>
  </div>
</footer>