<header class="mdl-layout__header">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><a href="/">虐猫狂人薛定谔</a></span>
    <div class="mdl-layout-spacer"></div>
    <form action="/search" id="searchForm">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
              mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="waterfall-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="q"
                 id="waterfall-exp">
        </div>
      </div>
    </form>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">虐猫狂人薛定谔</span>
  <nav class="mdl-navigation">
    <a href="/" class="mdl-navigation__link">首页</a>
    <a href="javascript:;" class="mdl-navigation__link">关于</a>
  </nav>
</div>